<!DOCTYPE html>
<html lang="en" ng-app="shopApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Simple Shop</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css" />
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="app/cart/CartModule.js"></script>
    <script src="app/cart/CartController.js"></script>

    <script src="app/shop/ShopModule.js"></script>
    <script src="app/shop/ShopFactory.js"></script>
    <script src="app/shop/CategoryController.js"></script>
    <script src="app/shop/ProductController.js"></script>

    <script src="app/app.js"></script>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                logo and info here
            </div>
            <div class="col-md-4">
                <div class="cart" ng-controller="CartController">
                    total products: {{getTotal()}}, cost is {{getCost()}}
                </div>
            </div>
        </div>
        <div class="top-menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" ng-controller="CategoryController">
                            <li ng-repeat="item in categories">
                                <a href="#">{{item.name}}</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</header>

<div class="content">
    <div class="container">
        <div class="row" ng-controller="ProductController">
            <div class="col-md-3 col-sm-4" ng-repeat="product in products">
                <div class="product">
                    <div class="product__preview">
                        <a href=""><img src="{{product.thumb}}" alt="" /></a>
                    </div>
                    <div class="product__title">
                        {{product.name}}
                    </div>
                    <div class="product__desc">
                        {{product.description}}
                    </div>
                    <div class="product__weight-price">
                        <span>{{product.weight}}</span> / <span>{{product.price}}</span>
                    </div>
                    <div class="product__add">
                        <a href="" ng-click="addToCart(product)">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p class="pull-right">2016 http://petun.ru/</p>
    </div>
</footer>


</body>
</html>